price-aggregator-api:
  marketplace-config:
    ekatalog:
      url: https://ek.ua/ua/
      categories:
        selector: SELECT a.mainmenu-link | IGNORE 7,14 | TEXT
      subcategories-1:
        actions:
          - SELECT a.mainmenu-link | FILTER text=$(['category']) | FIRST | HOVER
          - SELECT a.mainmenu-subitem:last-child | FIRST | CLICK
        selector: SELECT span.sub-katalogs-title | TEXT
      subcategories-2:
        actions:
          - SELECT a.mainmenu-link | FILTER text=$(['category']) | FIRST | HOVER
          - SELECT a.mainmenu-subitem:last-child | FIRST | CLICK
        selector: SELECT div.sub-katalogs-block | FILTER selector=a.sub-katalogs-link>span.sub-katalogs-title,text=$(['subcategory']) | FIRST | SELECT div.sub-katalogs-childs>a | TEXT
      filters:
        actions:
          - SELECT a.mainmenu-link | FILTER text=$(['category']) | FIRST | HOVER
          - SELECT a.mainmenu-subitem:last-child | FIRST | CLICK
          - SELECT div.sub-katalogs-block | FILTER selector=a.sub-katalogs-link>span.sub-katalogs-title,text=$(['subcategory1']) | FIRST | SELECT div.sub-katalogs-childs>a | FILTER text=$(['subcategory2']) | FIRST | CLICK
        selector: SELECT div.h2.h2-open | TEXT | JOIN with=1
        other:
          - SELECT ul.list>li.match-li-href | GROUP_BY parent_id | TEXT
      products:
        filters:
          template: SELECT .match-li-href | FILTER text=$(['value_%d']) | ANY | CLICK
        self:
          actions:
            - SELECT a.mainmenu-link | FILTER text=$(['category']) | FIRST | HOVER
            - SELECT a.mainmenu-subitem:last-child | FIRST | CLICK
            - SELECT div.sub-katalogs-block | FILTER selector=a.sub-katalogs-link>span.sub-katalogs-title,text=$(['subcategory1']) | FIRST | SELECT div.sub-katalogs-childs>a | FILTER text=$(['subcategory2']) | FIRST | CLICK
            - BY_ID minPrice_ | INPUT value=$(['minPrice'])
            - BY_ID maxPrice_ | INPUT value=$(['maxPrice'])
            - BY_ID match_submit | CLICK
            - SELECT div.page-num>a | FILTER text=$(['page']) | ANY | CLICK
          image-selector: SELECT div.model-short-div>table>tbody>tr>td:first-child>div:first-child | SCREENSHOT | BASE64
          link-selector: SELECT a.model-short-title | UNION with=1 | ATTRIBUTE href
          price-selector: SELECT div.model-short-div>table>tbody>tr>td:nth-child(3) | SCREENSHOT | BASE64
          description-selector: SELECT div.model-short-div>table>tbody>tr>td:nth-child(2) | SCREENSHOT | BASE64
          pages-count-selector: SELECT div.page-num>a | TEXT | LAST
          other:
            - SELECT td.model-short-info>div:nth-child(1)>a
    hotline:
      url: https://hotline.ua/ua/catalog/
      categories:
        selector: SELECT .catalog-search__sections-item | TEXT
      subcategories-1:
        selector: SELECT .catalog-sections__item | FILTER selector=.catalog-sections__name,text=$(['category']) | SELECT .catalog-sections-sub-catalog__title | TEXT | TRIM
      subcategories-2:
        selector: SELECT .catalog-sections__item | FILTER selector=.catalog-sections__title,text=$(['category']) | FIRST | SELECT .catalog-sections__sub-catalog | FILTER selector=.catalog-sections-sub-catalog__title,text=$(['subcategory']) | FIRST | SELECT .catalog-sections-sub-catalog__item | TEXT
      filters:
        actions:
          - SELECT .catalog-sections__item | FILTER selector=.catalog-sections__title,text=$(['category']) | FIRST | SELECT .catalog-sections__sub-catalog | FILTER selector=.catalog-sections-sub-catalog__title,text=$(['subcategory1']) | FIRST | SELECT .catalog-sections-sub-catalog__item | FILTER text=$(['subcategory2']) | FIRST | CLICK
          - WAIT 2000
          - SELECT .filters-expand | ANY | CLICK
        selector: SELECT .sidebar-filter__header-title-text | IGNORE 8 | TEXT | TRIM | JOIN with=1
        other:
          - SELECT .filter-checklist__item | GROUP_BY parent | TEXT | DISTINCT
      products:
        filters:
          template: SELECT .sidebar-filters__item | FILTER selector=.sidebar-filter__header-title-text,text=$(['key_%d']) | ANY | SELECT .filter-checklist__item-name | FILTER text=$(['value_%d']) | ANY | CLICK
        self:
          actions:
            - SELECT .catalog-sections__item | FILTER selector=.catalog-sections__title,text=$(['category']) | FIRST | SELECT .catalog-sections__sub-catalog | FILTER selector=.catalog-sections-sub-catalog__title,text=$(['subcategory1']) | FIRST | SELECT .catalog-sections-sub-catalog__item | FILTER text=$(['subcategory2']) | FIRST | CLICK
            - WAIT 2000
            - SELECT .filters-expand | ANY | CLICK
            - SELECT .filter-price__range-field | BY_INDEX 0 | INPUT value=$(['minPrice'])
            - SELECT .filter-price__range-field | BY_INDEX 1 | INPUT value=$(['maxPrice'])
            - SELECT .filter-price__range-btn | FIRST | CLICK
            - SELECT .page | FILTER text=$(['page']) | FIRST | CLICK
          image-selector: SELECT .list-item__img,.promo-list-item__img | SCREENSHOT | BASE64 | TO_LIST
          link-selector: SELECT .item-title,.promo-list-item__title | ATTRIBUTE href | DISTINCT | TO_LIST
          price-selector: SELECT .list-item__value--overlay,.promo-list-item__value--overlay | SCREENSHOT | BASE64 | TO_LIST
          description-selector: SELECT .list-item__info,.promo-list-item__info | SCREENSHOT | BASE64 | TO_LIST
          pages-count-selector: SELECT .page | TEXT | TRIM | LAST
